<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link rel="icon" href="">
    <title>Djlee Online Shopping | </title>

    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-fix-1.1.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}
</head>
<body>

    <div class="container">
        {% block content %}
        {% endblock %}

        <footer class="footer">
            <p>&copy; 2019 Djlee Online Shopping, Inc.</p>
        </footer>
    </div><!-- /.container -->

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/utils-1.2.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>